@mixin ngx-loading-state-dots(
  $size: 16px,
  $space: 32px,
  $color-primary: #FFFFFF,
  $color-secondary: #FFF2,
  $transition-duration: 0.5s
) {

  @keyframes ngx-loading-state-dots {
    0% {
      background-color: $color-secondary;
      box-shadow: $space 0 $color-secondary, -$space 0 $color-primary;
    }
    50% {
      background-color: $color-primary;
      box-shadow: $space 0 $color-secondary, -$space 0 $color-secondary;
    }
    100% {
      background-color: $color-secondary;
      box-shadow: $space 0 $color-primary, -$space 0 $color-secondary;
    }
  }

  width: $size;
  height: $size;
  border-radius: 50%;
  display: inline-block;
  background-color: $color-primary;
  box-shadow: $space 0 $color-primary, -$space 0 $color-primary;
  box-sizing: border-box;
  animation: ngx-loading-state-dots $transition-duration ease-out infinite alternate;
  animation-play-state: inherit;
}
